#!/bin/bash
#:#########################################################################
#: Intent: This script sets the required global variables for shell scripts
#:  and cloudformation parameters responsible for creating the aws
#:  environment/stacks.
#:
#: Dependencies:
#:	set ENV variable for the environment
#:		- example:  export ENV=dev
#:##########################################################################

#: GLOBAL SETTINGS
#:##########################################################################
  # Define Tags
    # environment (assume ENV, an environment variable, is set in the shell)
      if [ "$ENV" == "prod" ] || [ "$ENV" == "qa" ] || [ "$ENV" == "mergeddev" ] || [ "$ENV" == "dev" ] || [ "$ENV" == "test" ] || [ "$ENV" == "sb" ]; then
        settings_environment="$ENV"
      else
         echo "ENV does not equal prod, qa, mergeddev, dev, test, or sb"; exit 1
      fi
    # group
      settings_group="<CHANGE_ME>"
    # project
      settings_project="<CHANGE_ME>"
    # cost-center
      settings_cost_center="<CHANGE_ME>"
    # keep-alive
      settings_keep_alive="<CHANGE_ME>"
    # owner
      settings_owner="<CHANGE_ME>"

  # AWS CLI parameters
    settings_aws_cli_profile="$settings_environment-$settings_project"
    settings_region="<CHANGE_ME>"

    settings_tags_param1="Key=\"group\",Value=\"$settings_group\""
    settings_tags_param2="Key=\"project\",Value=\"$settings_project\""
    settings_tags_param3="Key=\"cost-center\",Value=\"$settings_cost_center\""
    settings_tags_param4="Key=\"environment\",Value=\"$settings_environment\""
    settings_tags_param5="Key=\"keep-alive\",Value=\"$settings_keep_alive\""
    settings_tags_param6="Key=\"owner\",Value=\"$settings_owner\""

    settings_tags_params=$(printf "%s %s %s %s %s %s" \
      $settings_tags_param1 \
      $settings_tags_param2 \
      $settings_tags_param3 \
      $settings_tags_param4 \
      $settings_tags_param5 \
      $settings_tags_param6)

    settings_running_dir=$(pwd)
    settings_log_file_path="./logs/automation.log"

  # EC2 KeyPair name that already exists in your AWS account
    settings_keyName="<CHANGE_ME>"

  # current epoch time
    setttings_current_epoch_time=$(date +%s)
##########################################################################

#: setup-preliminaries.sh
#:##########################################################################
#: Define IAM password policy parameters
  settings_prelim_iam_min_pw_length="8"
  settings_prelim_iam_max_pw_age="60" # days
  settings_prelim_iam_pw_reuse_prevention="4" # cannot use the previous x passwords

#: Define stack settings/parameters for preliminaries/s3-repos
  settings_prelim_s3repos_stack_name="$settings_environment-$settings_project-preliminaries-s3repos"
  settings_prelim_s3repos_master_template="s3-repos.json"
  settings_prelim_s3repos_stack_path="$settings_running_dir/preliminaries/"
  settings_prelim_s3repos_cftemplates_bucketname="$settings_environment-$settings_project-cf-templates"
  settings_prelim_s3repos_resources_bucketname="$settings_environment-$settings_project-resources"

  settings_prelim_s3repos_param1="ParameterKey=costCenterTag,ParameterValue=$settings_cost_center"
  settings_prelim_s3repos_param2="ParameterKey=environmentTag,ParameterValue=$settings_environment"
  settings_prelim_s3repos_param3="ParameterKey=groupTag,ParameterValue=$settings_group"
  settings_prelim_s3repos_param4="ParameterKey=keepAliveTag,ParameterValue=$settings_keep_alive"
  settings_prelim_s3repos_param5="ParameterKey=ownerTag,ParameterValue=$settings_owner"
  settings_prelim_s3repos_param6="ParameterKey=projectTag,ParameterValue=$settings_project"
  settings_prelim_s3repos_param7="ParameterKey=stackNameTag,ParameterValue=$settings_prelim_s3repos_stack_name"
  settings_prelim_s3repos_param8="ParameterKey=cfTemplateBucketName,ParameterValue=$settings_prelim_s3repos_cftemplates_bucketname"
  settings_prelim_s3repos_param9="ParameterKey=resourcesBucketName,ParameterValue=$settings_prelim_s3repos_resources_bucketname"

  settings_prelim_s3repos_params=$(printf "%s %s %s %s %s %s %s %s %s" \
    $settings_prelim_s3repos_param1 \
    $settings_prelim_s3repos_param2 \
    $settings_prelim_s3repos_param3 \
    $settings_prelim_s3repos_param4 \
    $settings_prelim_s3repos_param5 \
    $settings_prelim_s3repos_param6 \
    $settings_prelim_s3repos_param7 \
    $settings_prelim_s3repos_param8 \
    $settings_prelim_s3repos_param9)

  #: Define stack settings/parameters for preliminaries
    settings_prelim_stack_name="$settings_environment-$settings_project-preliminaries"
    settings_prelim_stack_path="$settings_running_dir/preliminaries/"
    settings_prelim_master_template="master.json"
    settings_prelim_stack_policy="https://s3.amazonaws.com/$settings_prelim_s3repos_resources_bucketname/stack-policies/preliminaries-stack-policy.json"

    # cloudtrail setup
    settings_cloudtrail_create="<CHANGE_ME>" # true or false
    settings_cloudtrail_s3_bucket_name="$settings_environment-$settings_project-cloudtrail"

    settings_cloudwatch_billing_threshold="<CHANGE_ME>" # in US($) dollars
    settings_alarm_notification_sns_topic="$settings_environment-$settings_project-alarmNotifications"
    settings_alarm_notification_sns_topic_email="<CHANGE_ME>"

    settings_prelim_param1="ParameterKey=costCenterTag,ParameterValue=$settings_cost_center"
    settings_prelim_param2="ParameterKey=environmentTag,ParameterValue=$settings_environment"
    settings_prelim_param3="ParameterKey=groupTag,ParameterValue=$settings_group"
    settings_prelim_param4="ParameterKey=keepAliveTag,ParameterValue=$settings_keep_alive"
    settings_prelim_param5="ParameterKey=ownerTag,ParameterValue=$settings_owner"
    settings_prelim_param6="ParameterKey=projectTag,ParameterValue=$settings_project"
    settings_prelim_param7="ParameterKey=stackNameTag,ParameterValue=$settings_prelim_stack_name"
    settings_prelim_param8="ParameterKey=billingAlarmThreshold,ParameterValue=$settings_cloudwatch_billing_threshold"
    settings_prelim_param9="ParameterKey=cloudTrailCreate,ParameterValue=$settings_cloudtrail_create"
    settings_prelim_param10="ParameterKey=cloudTrailS3BucketName,ParameterValue=$settings_cloudtrail_s3_bucket_name"
    settings_prelim_param11="ParameterKey=cfTemplateBucketName,ParameterValue=$settings_prelim_s3repos_cftemplates_bucketname"
    settings_prelim_param12="ParameterKey=resourcesBucketName,ParameterValue=$settings_prelim_s3repos_resources_bucketname"
    settings_prelim_param13="ParameterKey=snsTopic,ParameterValue=$settings_alarm_notification_sns_topic"
    settings_prelim_param14="ParameterKey=snsTopicEmailSubscription,ParameterValue=$settings_alarm_notification_sns_topic_email"

    settings_prelim_params=$(printf "%s %s %s %s %s %s %s %s %s %s %s %s %s %s" \
      $settings_prelim_param1 \
      $settings_prelim_param2 \
      $settings_prelim_param3 \
      $settings_prelim_param4 \
      $settings_prelim_param5 \
      $settings_prelim_param6 \
      $settings_prelim_param7 \
      $settings_prelim_param8 \
      $settings_prelim_param9 \
      $settings_prelim_param10 \
      $settings_prelim_param11 \
      $settings_prelim_param12 \
      $settings_prelim_param13 \
      $settings_prelim_param14)
##########################################################################

#: setup-vpc-stack.sh
#:##########################################################################
  # Define stack settings/parameters
    settings_vpc_stack_name="$settings_environment-$settings_project-vpc"
    settings_vpc_stack_path="$settings_running_dir/vpc/"
    settings_vpc_master_template="master.json"

  # Define VPC CIDR blocks
    settings_vpc_cidr="<CHANGE_ME>" #"10.16.0.0/16"
    settings_vpc_public_subnet_cidr="<CHANGE_ME>" #"10.16.1.0/24"
    settings_vpc_private_subnet_cidr="<CHANGE_ME>" #"10.16.2.0/24"

  # ssh access from listed ip addresses
    settings_vpc_ssh_source_ip_address="<CHANGE_ME>"

  # declare AMIs to be used (this parameter is not currently passed to cloudformation)
  # currently a lambda function is provisioned by the preliminaries stack to always provide the latest Amazon Linux AMI
    settings_vpc_amazon_linux_ami="<CHANGE_ME>"

  # EC2 instance types
    settings_vpc_app_server_instance_type="<CHANGE_ME>" #"t2.micro"

  # IAM role names
    settings_vpc_cross_stack_lookup_iam_role_name="$settings_environment-$settings_project-crossStackLookup"
    settings_vpc_app_server_iam_role_name="$settings_environment-$settings_project-appServer"

  settings_vpc_param1="ParameterKey=stackName,ParameterValue=$settings_vpc_stack_name"
  settings_vpc_param2="ParameterKey=projectTag,ParameterValue=$settings_project"
  settings_vpc_param3="ParameterKey=groupTag,ParameterValue=$settings_group"
  settings_vpc_param4="ParameterKey=costCenterTag,ParameterValue=$settings_cost_center"
  settings_vpc_param5="ParameterKey=environmentTag,ParameterValue=$settings_environment"
  settings_vpc_param6="ParameterKey=keepAliveTag,ParameterValue=$settings_keep_alive"
  settings_vpc_param7="ParameterKey=ownerTag,ParameterValue=$settings_owner"
  settings_vpc_param8="ParameterKey=cfTemplateBucketName,ParameterValue=$settings_prelim_s3repos_cftemplates_bucketname"
  settings_vpc_param9="ParameterKey=resourcesBucketName,ParameterValue=$settings_prelim_s3repos_resources_bucketname"
  settings_vpc_param10="ParameterKey=sshSourceIp,ParameterValue=$settings_vpc_ssh_source_ip_address"
  settings_vpc_param11="ParameterKey=vpcCidr,ParameterValue=$settings_vpc_cidr"
  settings_vpc_param12="ParameterKey=publicSubnetCidr,ParameterValue=$settings_vpc_public_subnet_cidr"
  settings_vpc_param13="ParameterKey=privateSubnetCidr,ParameterValue=$settings_vpc_private_subnet_cidr"
  settings_vpc_param14="ParameterKey=instanceTypeAppServer,ParameterValue=$settings_vpc_app_server_instance_type"
  settings_vpc_param15="ParameterKey=iamRoleNameAppServer,ParameterValue=$settings_vpc_app_server_iam_role_name"
  settings_vpc_param16="ParameterKey=iamRoleNameCrossStackLookup,ParameterValue=$settings_vpc_cross_stack_lookup_iam_role_name"
  settings_vpc_param17="ParameterKey=keyName,ParameterValue=$settings_keyName"
  settings_vpc_param18="ParameterKey=preliminariesStackName,ParameterValue=$settings_prelim_stack_name"

  settings_vpc_params=$(printf "%s %s %s %s %s %s %s %s %s %s %s %s %s %s %s %s %s %s" \
    $settings_vpc_param1 \
    $settings_vpc_param2 \
    $settings_vpc_param3 \
    $settings_vpc_param4 \
    $settings_vpc_param5 \
    $settings_vpc_param6 \
    $settings_vpc_param7 \
    $settings_vpc_param8 \
    $settings_vpc_param9 \
    $settings_vpc_param10 \
    $settings_vpc_param11 \
    $settings_vpc_param12 \
    $settings_vpc_param13 \
    $settings_vpc_param14 \
    $settings_vpc_param15 \
    $settings_vpc_param16 \
    $settings_vpc_param17 \
    $settings_vpc_param18)
##########################################################################

#: Default settings
#:##########################################################################
#: Define stack settings/parameters
settings_default_stack_policy="https://s3.amazonaws.com/$settings_prelim_s3repos_resources_bucketname/stack-policies/default-stack-policy.json"
